body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color: #7fff00;
    color: Brown;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.main {
    padding: 100px 80px;
}

.copy-container span {
    color: Brown;
}


.guide {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents {
    height: 200px;
    margin-top: 100px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}


.footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}
